primero/Tema 2 - Gauss/Tema2_Gauss_Sesion1_2_MetodoGauss.mp4
primero/Tema 2 - Gauss/Tema2_Gauss_Sesion2_Rango.mp4
primero/Tema 2 - Gauss/Tema2_Gauss_Sesion3_SistemasRF.mp4
primero/Tema 2 - Gauss/Tema2_Gauss_Sesion4_Inversa.mp4
primero/Tema 2 - Gauss/Tema2_Gauss_Sesion5_Determinantes.mp4
primero/Tema 2 - Gauss/Tema2_Gauss_Sesion1_1_IntroducciónMatricesEscalonadas.mp4
primero/Tema 2 - Gauss/Tema 2 - Gauss_1.rar